* {
  overflow-x: hidden;
}
body, html {
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  padding: 100vh 0 0 0;
}

a {
  color: black;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.btn {
  background: #845cff;
  color: white;
  border: none;
  font-weight: 600;
  font-size: 0.9em;
  border-radius: 3px;
  padding: 10px 15px;
  display: inline;
  -webkit-box-shadow: 2px 2px 300px -61px rgba(0,0,0,1);
  -moz-box-shadow: 2px 2px 300px -61px rgba(0,0,0,1);
  box-shadow: 2px 2px 300px -61px rgba(0,0,0,1);
  cursor: pointer;
}

.landing__btn--white {
  margin-left: 30px;
  background: transparent;
  color: black;
  opacity: 0.7;
}

.landing__btn, .landing__btn--white {
  font-size: 0.8rem;
}

.row {
  margin-top: 45px;
  display: flex;
}

nav {
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
  padding: 55px 0 0 0;
  margin: auto;
  display: flex;
  font-weight: bold;
  background: transparent;
    .logo {
      background-image:url("../img/logo.png");
      background-repeat: no-repeat;
      width: 155px;
      height: auto;
      margin: 0 500px 0 300px;
    }
    ul {
      list-style: none;
      display: flex;
      align-items: baseline;
        li {
          margin-left: 55px; ;
        }
    }
}


.landing {
  overflow: hidden;
  width: 100vw;
  position: absolute;
  background-image: url('../img/towers.png');
  background-color: hsla(0,0%,100%,0.75);
  background-blend-mode: overlay;
  top:-125px;
    .landing__header {
      z-index:100;
      position: absolute;
      top: 500px;
      width: 450px;
      margin: 0 0 0 300px;
      font-size: 42px;
      font-weight: bold;
        .sub__header{
          font-size: 1.125rem;
          word-wrap: normal;
          font-weight: normal;
          opacity: 0.8;
        }
    }

    .blob {
      background-image: url("../img/blob.png");
      background-repeat: no-repeat;
      position: relative;
      left: 47%;
      width: auto;
      height: 1145px;
      z-index:3;
      align-self: flex-end;
        .landing__picture {
          background-image: url("../img/landing.png");
          background-repeat: no-repeat;
          position: relative;
          top: 300px;
          left: 0;
          width: auto;
          height: 775px;
          z-index:2;
          align-self: flex-end;
        }
    }
}

.box__header--left {
  text-align: left;
  width: 100%;
}

.container {
  position: relative;
  z-index: 5;
  margin-left: 300px;
  width: calc(100vw - 300px);
  overflow: hidden;

  .grid--2x2 {
    overflow: hidden;
    margin: 20px 0;
    width: 1350px;
    height: 900px;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
    grid-column-gap: 200px;
    grid-row-gap: 100px;
    .box:not(:first-child){
      -webkit-box-shadow: -5px 16px 28px 5px rgba(0,0,0,0.21);
      -moz-box-shadow: -5px 16px 28px 5px rgba(0,0,0,0.21);
      box-shadow: -5px 16px 28px 5px rgba(0,0,0,0.21);
      background: white;
    }

    .box:first-child{
      justify-content: flex-end;
      align-items: flex-end;
      background-color: transparent;
    }

    .box {
      background-color: transparent;
      padding: 20px;
      border-radius: 10px;
      color: black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 40px;
      font-family: sans-serif;

      .box__image {
        background-image: url("../img/card1.png");
        background-repeat: no-repeat;
        width: 175px;
        height: 130px;
        align-self: start;
        margin-left: 30px;
      }

      .box__image--income {
        background-image: url("../img/card3.png");
      }

      .box__image--monitor {
        background-image: url("../img/card2.png");
      }

      .box__header {
        font-size: 2.8rem;
        font-weight: normal;
        margin:5px 0 0 0 ;
        opacity: 0.6;
      }
      .subheading {
        font-size: 0.4em;
        opacity: 0.45;
      }
    }
  }
}

.info {
  margin-top: 300px;
  margin-bottom: 150px;
  text-align: center;
  width: calc(100vw - 600px);
  .info__header {
    opacity: 0.4;
    font-size: 2.4rem;
  }
}

.background {
  margin-bottom: 150px;
  position: relative;
  background-image: url("../img/infoBackground.png");
  background-color: hsla(0,0%,100%,0.75);
  background-blend-mode: overlay;
  background-position: 50% 50%;
  width: 100vw;
  height: 1300px;
  overflow: hidden;
    .grid--4x4 {
      margin: 20px 0;
      width: 1350px;
      height: 1000px;
      background-color: transparent;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-row: auto;
      grid-column-gap: 100px;
      grid-row-gap: 10px;
      overflow: hidden;

        .box--sm {
          background-color: transparent;
          padding: 20px;
          border-radius: 10px;
          color: black;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size: 40px;
          font-family: sans-serif;
          overflow: hidden;

          .heading--sm {
              overflow: hidden;
              margin: 0;
              padding: 0;
              text-align: center;
              font-size: 1.2rem;
            }
            .text--sm {
              overflow: hidden;
              text-align: center;
              font-size: 1rem;
            }

          @for $i from 1 through 12 {
            $url: url("../img/box--sm--#{$i}.png");
            .image--sm--#{$i} {
              margin-bottom: 20px;
              width: 80px;
              height: 80px;
              background-image: $url;
            }
          }
        }
    }
}


.block {
  display: flex;
  margin-bottom: 200px;
  width: calc(100vw - 600px);
  .about__image {
      background-image: url("../img/drive.png");
      width: 650px;
      height: 500px;
    }

  .content {
    width:600px;
    p {
      font-size: 0.9rem;
    }
    h5 {
      font-size: 2.8rem;
      opacity: 0.6;
      margin: 0 auto 20px auto;
    }
    .subsection {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
        div {
          width: 45%;
        }
    }
    .heading--sm {
      font-size: 1.2rem;
      opacity: 0.4;
    }
  }
}

.move__image {
  background-image: url("../img/car.png");
  width: 650px;
  height: 500px;
}

.pilot {
  position: relative;
  display:flex;
  flex-direction: row-reverse;
  width: 100vw;
  .pilot__img {
    background-image: url("../img/sit.png.png");
    width: 1300px;
    height: 617px;
    position:relative;
    right: 50px;
  }

  .pilot__col{
    width: 600px;
      h4 {
        font-size: 2.5rem;
        opacity: 0.6;
        margin-bottom: 25px;
      }

    h5 {
      margin-top: 100px;
      font-size: 1.1em;
    }
  }
}

.pilot__row {
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 600px);
  position: relative;
  h4 {
    font-size: 2.5rem;
    opacity: 0.6;
    margin-bottom: 50px;
  }

  h5 {
    margin-top: 100px;
    font-size: 1.1em;
  }
}


.pilot__list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    display:flex;
    align-items: center;
    .tick {
      display: inline-block;
      position: relative;
      background-image: url("../img/tick.png");
      background-repeat: no-repeat;
      width: 24px;
      height: 23px;
      margin-right: 15px;
    }
  }
}


.start {
  width: 100vw;
  background: #eaeaf3;
  display: flex;
  align-items: center;
  padding: 50px 0;

  .shapes {
    background-image: url("../img/shapes.png");
    width: 50px;
    height: 10px;
  }

  h5 {
    font-size: 2.5rem;
    opacity: 0.5;
    margin-bottom: 0;
    margin-top: 15px;
  }

  .row {
    width: calc(100vw - 600px);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .input {
    position: relative;
    padding-top: 25px;
  }

  .getStarted {
    position: relative;
    display: flex;
    justify-content: flex-end;
    top: -60px;
    right: 0;
    text-align: right;
    padding-right: 25px;
    color: #845cff;
    font-weight: bold;
      .image {
        background-image: url("../img/enter.png");
        width: 23px;
        height: 20px;
        display: inline-block;
        align-self: center;
        margin-left: 25px;
      }

  }

  input {
    background: white;
    width: 500px;
    height: 70px;
    border: none;
    border-radius: 0.4rem;
    padding-left: 25px;
  }

}